<div class="itunes-search">
  <div class="header-section">
    <div class="header-top-section">
      <a class="header-logo" href="/">
        <img alt="apple-logo" src="https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/apple/image_large.svg">
      </a>
    </div>
    <h1 class="page-heading">{{ heading }}</h1>
    <h2 class="page-subheading">{{ subHeading }}</h2>
  </div>
  <div class="search-input-holder row">
    <div class="col-xs-12">
      <div class="input-group input-group-lg">
        <input @keyup.enter="searchData" type="text" class="search-input form-control input-lg" v-model="searchTerm"
          placeholder="Search something today!!" />
        <div class="input-group-btn">
          <button type="submit" class="search-btn btn btn-primary btn-lg" v-on:click="searchData">
            <span class="glyphicon glyphicon-search"></span> <span> </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="search-container">
    <div class="search-results-container" v-if="searchResults">
      <div class="result-notification"> Showing results for {{ searchTerm }} </div>
      <div class="category-results" v-for="(categoryResults, searchCategoryName) in searchResults">
        <h3 class="category-heading"> Category: {{ searchCategoryName }} </h3>
        <swiper class="result-container" :options="swiperOption">
          <swiper-slide class="result-slide" v-for="(result, index) in categoryResults" :key="index">
            <div class="result">
              <div class="result-artcover-container">
                <a :href="result.url"> <img class="result-artcover" :src="result.artwork" height="100" width="100"> </img> </a>
              </div>
              <div class="tile-icon fav-container">
                <button @click.prevent="toggleFavorite(result)" class="fav tile-button"
                  v-bind:class="{ 'active': result.isActive }" title="fav icon" aria-label="save to favorite">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 25 25" preserveAspectRatio="none" width="20" height="20" class="heart">
                    <g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
                      <g id="heart-outline" transform="translate(1.000000, 0.000000),scale(0.75, 0.8)" stroke="#999">
                        <path id="fill"
                          d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763"
                          fill="#ffffff"></path>
                      </g>
                    </g>
                  </svg>
                </button>
              </div>

              <h3 class="result-heading"> {{ result.name }} </h3>
              <div class="result-crumbs">
                <div class="result-genre"> {{ result.genre }} </div>
                <div class="result-id"> {{ result.id }}</div>
              </div>
            </div>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
          <div class="swiper-pagination" slot="pagination"></div>
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
      </div>
    </div>
    <div v-else>
      <div v-if="searchTerm.length" class="result-notification"> No results found for " {{searchTerm }} " </div>
    </div>
    <div class="spinner-border" style="width: 30px; height: 30px;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <div class="loader" v-bind:class="{ 'active': showSpinner }">
      <div class="spinner-border" style="width: 30px; height: 30px;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</div>
